<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/ezimir/opera-extensions/like" version="1.0">
    <name>Opera Like</name>

    <author href="http://lkd.to/ezimir" email="ezimir@gmail.com">ezimir</author>
    <description>Like anything</description>
    <icon src="facebook.png" />
</widget>
